<div role="main" class="heroag">

  <div class="container">
    <img src="img/dadosagueda.svg" class="logotipo" />
  </div>

  <div class="container">
    <h1 class="heading branco">Bem-Vind@ à Plataforma de Dados Abertos de Águeda</h1>
    <!-- <h1 style="font-size: 35px;">Bem-Vind@ à Plataforma de Dados Abertos de Águeda</h1> -->
  </div>

  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>

</div>
<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span6 col2">
        {% block featured_organization %}
        {% snippet 'home/snippets/featured_organization.html' %}
        {% endblock %}
      </div>
      <div class="span6 col1">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
